.exchange-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    color:white;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 3px 5px 3px 3px rgb(79, 73, 73);
    background-color: rgb(12, 12, 103);
    
}

p{
    font-size: 20px;
}

.change-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.select-value{
    margin-top: 10px;
    
}

select{
    background-color: rgb(170, 177, 28);
}

.money-container{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    height: 50px;
    color:white;
    background-color: rgb(1, 6, 142);
    border: 2px dotted white;
    border-radius: 20px;
    /* box-shadow: 2px 5px 2px rgb(183, 182, 182); */
    text-align: left;
    letter-spacing: 1.5px;
}

